<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='baby.png') }}">
</head>

<body>
    <h3>{{response}}</h3>
    <H2>I am {{name}}</H2>
    <h3>My id is {{identity}}</h3>
    <script src="../static/script.js"></script>
</body>

</html>