<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='baby.png') }}">
</head>

<body>
    <H1>I am a newbie in web development</H1><br>
    <a href="about.html">About</a><br>
    <a href="registration.html"> Register Now</a>
    <script src="../static/script.js"></script>
</body>

</html>